<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinacoal.microservice.impl.mapper.CapUserMapper">

    <select id="findUserByuserId" resultType="com.chinacoal.microservice.model.rbac.Users">
	  select a.*,b.DICT_NAME as userTypeName from  
	  (select * from ccms_users where user_name= #{userId} )a left join eos_dict b on a.user_type = b.DICT_ID
    </select>
    <select id="findUserByEmpId" resultType="com.chinacoal.microservice.model.rbac.Users">
	 select a.*,b.DICT_NAME as userTypeName from  
	  (select * from ccms_users where emp_id =  #{empId} )a left join eos_dict b on a.user_type = b.DICT_ID
    </select>

</mapper>
